ul {
  list-style-type: none;
}

li {
  display: grid;
  grid-template-columns: 1fr 100px;
  gap: 5px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 15px;
}

.incomplete {
  background-color: #fdfdee;
}

.complete {
  background-color: #b5b5b5;
}
