ul {
  list-style-type: none;
  overflow-y: auto;
}

img {
  cursor: pointer;
}

.newTodoButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 40px;
  margin: 15px auto 0 auto;
  text-decoration: none;
  color: #c4cedb;
  background-color: #1c2c42;
  border-radius: 15px;
  cursor: pointer;
}

.todoItem {
  display: grid;
  align-items: center;
  grid-template-columns: 30px 1fr 65px 30px 30px;
  gap: 5px;
  min-height: 50px;
  margin-top: 10px;
  padding: 10px;
  line-height: 0.9;
  border-radius: 15px;
}

.incomplete {
  background-color: #fdfdee;
}

.complete {
  background-color: #b5b5b5;
}

@media (max-width: 700px) {
  p {
    font-size: 0.9em;
  }

  .todoItem {
    grid-template-columns: 30px 1fr 55px 30px 30px;
  }
}
