@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

.mainContainer {
  min-height: 500px;
  min-width: 500px;
  padding: 10px;
  background-color: #c4cedb;
  border-radius: 20px;
}

h1 {
  font-size: 4em;
  font-family: 'Fascinate';
  text-align: center;
  color: #1c2c42;
}
