header {
  display: grid;
  grid-template-columns: 1fr 200px;
}

footer {
  font-size: 0.8em;
  text-align: center;
  margin-top: 5px;
  color: #c4cedb;
}

.mainContainer {
  height: 90vh;
  width: 600px;
  margin-top: 40px;
  padding: 10px;
  background-color: #c4cedb;
  border-radius: 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

.titleContainer input {
  width: 188px;
  height: 22px;
  margin-right: 10px;
  padding: 0 5px;
  border: none;
  border-radius: 5px;
}

.optionsContainer {
  gap: 10px;
  font-size: 0.9em;
}

.newTodoButton {
  position: relative;
  top: 6px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 200px;
  height: 40px;
  text-decoration: none;
  color: #c4cedb;
  background-color: #1c2c42;
  border-radius: 20px 0 0 20px;
  cursor: pointer;
}

@media (max-width: 700px) {
  header {
    grid-template-columns: 1fr 130px;
  }

  .mainContainer {
    width: 350px;
    margin-top: 25px;
  }

  .titleContainer input {
    width: 118px;
  }

  .optionsContainer {
    grid-template-columns: 1fr 12px;
  }

  .newTodoButton {
    width: 130px;
    height: 30px;
  }
}
